.list-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;

  .listing {
    display: grid;
    gap: 5px;
    place-items: center;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
