.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-logo {
    img {
      width: 5rem;
    }
  }

  .menu-items {
    list-style: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1em;
    margin: 0;

    .menu-item {
      a {
        text-decoration: none;
        font-weight: 600;
        color: $white-900;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $grey-500;
        }

        &:focus {
          color: $white-900;
        }
      }
    }

    &.show {
      display: block;
    }
  }

  .menu-hamburger {
    display: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  @media (max-width: 768px) {
    .menu-items {
      display: none;
    }

    .menu-hamburger {
      display: block;
    }
  }
}
