.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;

  .error-message {
    text-align: center;
    font-size: 18px;
  }

  section {
    width: 80%;
    min-height: 40%;
    display: grid;
    place-items: center;
    padding: 30px 20px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);

    form {
      display: grid;
      place-items: center;
      width: 100%;
      text-align: center;

      h1 {
        font-size: 18px;
      }

      .search-container {
        display: flex;
        align-items: center;
        background-color: $white-900;
        border: solid 1px $white-900;
        border-radius: 5px;
        justify-content: space-between;
        width: 60%;
        padding: 5px 10px;
        margin: 20px 0;

        #search-input {
          float: left;
          background-color: transparent;
          padding-left: 5px;
          font-style: italic;
          font-size: 18px;
          border: none;
          width: 80%;
          font-weight: bold;
          color: $title-color;

          &:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
          }

          &::placeholder {
            color: $grey-500;
          }
        }
      }

      #submit-button {
        background: transparent;
        border: none;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      width: 90%;

      form > h1 {
        font-size: 24px;
      }
    }

    @media only screen and (min-width: 992px) {
      width: 100%;

      form > h1 {
        font-size: 36px;
      }
    }
  }
}
